/*
	VENTANA MODAL
*/

.full_screen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	background: #fff;
	opacity: 0.3;
	text-align: center;
}

.w_modal{
	border-radius:10px; 
	-moz-border-radius:10px; /* Firefox */ 
	-webkit-border-radius:10px; /* Safari y Chrome */ 
	position: absolute;
	top: 30%;
	left: 40%;
	width: 300px;	
	padding: 16px;
	background: #fff;
	color: #333;
	z-index: 1002;
	overflow: auto;
	cursor: move;
}

.modal_title{		
	border-radius:10px; 
	-moz-border-radius:10px; /* Firefox */ 
	-webkit-border-radius:10px; /* Safari y Chrome */ 		
	background-color: #eeeeee;
	text-align: center;
}

ul.modal_toolbar{	
	width: 100%;	
	margin: 0;
	padding: 0;
	text-align: center;
}

.modal_body{
	top: 50px;
	width: 100%;	
	padding-top: 10px;
}

p.title{
	font-size: 16px;	
	margin: 0;	
}

a.close_modal{
	position: absolute;
	left: 293px;
	top: 14px;
	cursor: pointer;
	background-image: url(img/icons/close_modal.png);
	width: 24px;
	height: 24px;
}
a.btn_ok{	
	cursor: pointer;
	background-image: url(img/icons/apply.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;	
	margin-top: 5px;
}
a.btn_save{	
	cursor: pointer;
	background-image: url(img/icons/save.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	margin-left: 50px;
	margin-right: -80px;
	margin-top: 5px;
}
a.separator{
	width: 32px;
	height: 32px;
	display: inline-block;	
}
a.btn_cancel{
	cursor: pointer;
	background-image: url(img/icons/cancel.png);
	background-repeat: no-repeat;	
	width: 32px;
	height: 32px;
	display: inline-block;	
	margin-top: 5px;
}

input.property{
	width: 50px;
	text-align: right;
}

div .container{
	display: block;
	padding-left: 15px;
}

div .container .input{
	width: 100%;
	display: inline-block;
}
div .container .input > label:first-child{
	width: 50%;
	display: inline-block;
	
}

div .container .elementName{
	font-weight: bold;
	margin-left: 15px;
}

div .container .warningModal{
	background-image: url(img/icons/warning_16.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 32px;
	text-align: left;
	margin-bottom: 15px;
}
div .container .warningModal label{
	margin-left: 25px;
}